<!-- Header -->
    <body>
        <header id="header">
            <ul class="icons">
                <li><a href="https://www.linkedin.com/in/omerbaddour/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/OmerBaddour" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="https://twitter.com/omerbaddour" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            </ul>
        </header>
    </body>