<!-- Sidebar -->
    <body>
        <!-- Search
            <section id="search" class="alt">
                <form method="post" action="#">
                    <input type="text" name="query" id="query" placeholder="Search" />
                </form>
            </section>
        -->

        <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/projects.html">Projects</a></li>
                    <li>
                        <span class="opener">Blog</a></span>
                        <ul>
                            <li><a href="/blog.html">Home</a></li>
                            <li><a href="/blog/technical.html">Technical</a></li>
                            <li><a href="/blog/nutshell.html">In a Nutshell</a></li>
                        </ul>
                    </li>
                    <li><a href="/raison_d_etre.html">Raison d'être</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                    <li></li>
                </ul>
            </nav>

			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
    </body>